.header-container {
	.header {
		&__logo {
			width: 575px;
			img {
				width: 100%;
			}
		}

		.dropdown {
			.lang-drop-menu {
				min-width: 3.78rem;
			}

			.drop-button {
				background: #ffc402;
			}
		}

		.navbar-collapse {
			align-items: baseline;
			justify-content: center;
		}

		.navbar {
			&-nav {
				padding: 0 1rem !important;
				flex-wrap: wrap;
				/* 	width: 33%; */
				width: 400px;
				justify-content: space-around;
				margin-left: 136px;

				a {
					color: #4f4f4f;
					font-weight: 600;
					font-size: 18px;
				}

				.nav-link {
					padding: 0.4rem 1rem !important;
					color: #4f4f4f !important;
				}

				.nav-item {
					border: 2px solid#4f4f4f;
					text-transform: uppercase;
					width: 170px;
					text-align: center;
					margin-bottom: 5px;
					background: linear-gradient(to right, #ffc402 50%, white 50%);
					background-size: 200% 100%;
					background-position: right bottom;
					transition: all 0.4s ease-out;

					&:hover {
						background-position: left bottom;
					}
				}
				.active {
					background: #ffc402;
				}
			}

			&-home {
				a {
					color: #4f4f4f;
					font-weight: 600;
					font-size: 18px;
				}

				.nav-link {
					padding: 0.4rem 0rem !important;
					color: #4f4f4f !important;
				}

				.nav-item {
					border: 2px solid#4f4f4f;
					text-transform: uppercase;
					width: 170px;
					text-align: center;
					margin-bottom: 5px;
					background: linear-gradient(to right, #ffc402 50%, white 50%);
					background-size: 200% 100%;
					background-position: right bottom;
					transition: all 0.4s ease-out;
					&:hover {
						background-position: left bottom;
					}
				}
				.active {
					background: #ffc402;
				}
			}

			&-lang {
				display: flex;
				/* 	flex-direction: column; */
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
				text-align: center;

				.lang-item {
					/* 	background-color: #ffc402; */
					margin-bottom: 4px;
					text-transform: uppercase;
					width: 56px;
					border: 2px solid #4f4f4f;
					cursor: pointer;
					&:nth-child(2),
					&:nth-child(1) {
						border-right: 0;
					}

					a {
						color: #595959;
						font-weight: 600;
						font-size: 18px;
					}
				}
			}
		}

		&-down {
			position: relative;
			/* 		margin-bottom: 50px; */
			.left {
				background-color: #feca2e;
				height: 185px;
				height: 10vh;
				clip-path: polygon(0 0%, 100% 0%, 0 100%);
			}
			.right {
				background-color: #4f4f4f;
				height: 4vh;
				/* 				height: 73px; */
				clip-path: polygon(60% 100%, 100% 0, 100% 100%);
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.header-container {
		.header {
			&__logo {
				width: 515px;
				padding-left: 0;
			}
			.navbar {
				&-nav {
					a {
						font-size: 16px;
					}
					margin-left: 0;
					width: 65%;
					.nav-item {
						width: 145px;
					}
				}
				&-home {
					.nav-item {
						width: 145px;
						a {
							font-size: 16px;
						}
					}
				}
				&-lang {
					.lang-item {
						width: 48px;
						a {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 991px) {
	.header-container {
		.header {
			&__logo {
				width: 400px;
				img {
					width: 100%;
				}
			}
			.navbar {
				&-nav {
					.nav-item {
						width: 110px;
						a {
							font-size: 11px;
						}
						transition: none;
					}
				}
				&-home {
					.nav-item {
						width: 110px;
						a {
							font-size: 11px;
						}
					}
				}
				&-lang {
					.lang-item {
						width: 37px;
						a {
							font-size: 11px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.header-container {
		.header {
			.navbar {
				&-lang {
					flex-direction: row;
				}
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.header-container {
		.navbar {
			z-index: 1;
			background-color: white;
		}
		.header {
			&__logo {
				width: 200px;
				img {
					width: 100%;
				}
			}
			.navbar {
				&-nav {
					margin-left: 100px;
					.nav-item {
						width: 110px;
						a {
							font-size: 11px;
						}
					}
				}
				&-lang {
					flex-direction: row;
					margin-top: 15px;
				}

				&-home {
					display: flex;
					flex-direction: column;
					align-items: center;

					.nav-item {
						transition: none;
					}
				}
			}
			&-down {
				.left {
					height: 5vh;
				}
				.right {
					background-color: #4f4f4f;
					height: 3vh;
					clip-path: polygon(40% 100%, 100% 0, 100% 100%);
				}
			}
		}
	}
}
@media only screen and (max-width: 360px) {
	.header-container {
		.header {
			.navbar {
				&-nav {
					margin-left: 93px;
				
				}
			}
		}
	}
}
